@media (max-width: 705px) {
  .main-nav-layout ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 50px;
    top: 98px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #b6b0b0;
    padding: 20px;
  }
}
