@font-face {
    font-family: Roboto-regular;
    src: url(/css/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Sarif;
    src: url(/css/fonts/Roboto_Serif/RobotoSerif-Regular.ttf);
}