.app-header-layout {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto-regular;
}

.logo-layout {
  margin-left: 30px;
}

.main-nav-layout {
  margin-right: 30px;
}

.nav-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-layout li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

/* //////// */

.home-page-layout {
  background-color: aqua;
}

.main-layout {
  background-color: blueviolet;
  margin: 0 30px 0 30px;
  height: 1000px;
}

.main-layout p {
  margin: 0;
}

.footer-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: aqua;
}

/* //// KEEP LAYOUT ///// */

.keep-main-layout {
  display: flex;
  padding: 25px 20px 25px 20px;
}

.keep-header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */

}

.notes-main-layout {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notes-nav {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.left-side-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* //// MAIL LAYOUT //// */

.mail-main-layout {
  display: flex;
  width: 100%;
}