:root {
    --black: #202124;
    --grey: #767676;
    --grey-dark: #767474;
    --white: #FFFCFD;
    --yellow-clear: #FEEFC3;
    --yellow: #F7CB4D;
    --orange: #FBBC04;
    --blue: #4285F4;
    --red-clear: #fce8e6;
    --red-light: #EA4335;
    --red-dark: #C5221E;
    --green: #34A853;
}