:root {
  --black: #202124;
  --black-txt: #202124;
  --grey: #eef0f2;
  --gray-light: #f5f7f7;
  --grey-dark: #767474;
  --white: #fffcfd;
  --yellow-clear: #feefc3;
  --yellow: #f7cb4d;
  --orange: #fbbc04;
  --blue: #4285f4;
  --red-clear: #fce8e6;
  --red-light: #f8dddb;
  --red-dark: #c5221e;
  --green: #34a853;
}
